<IfModule mod_rewrite.c>
    # Activate rewrite

    RewriteEngine on
    ErrorDocument 404 http://localhost/ecommerce/error/index

    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-f


    RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</IfModule>